<%= render 'shared/banner' %>
<!-- Discover -->
<section id="discover">
  <div class="container">
    <div class="col-m-4">
      <h2 class="section-heading">Discover</h2>
      <h4 class="section-sub-header">Sub header</h4>
    </div>
  </div>
  <div class="card-wrapper">
    <% @appartments = Appartment.all %>
    <% @appartments.sample(3).each do |appartment| %>
    <div class="card">
      <div class="card-image" style="background-image: image_url('<%= cl_image_path(appartment.photo.path) %>')"></div>
      <div class="card-content">
        <div class="appartment-type-header"><%= appartment.appartment_type %></div>
        <div class="description-header"><%= link_to appartment.header, appartment_path(appartment)%></div>
        <div class="price-header">From <%= appartment.price %> € per night</div>
        <div class="card-icons">
          <% appartment.reviews.average(:rating).to_i.times do %>
          <i class="fa fa-snowflake-o" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</section>


<!-- Testimonials -->
<section id="testimonials">
  <div class="container">
    <div class="col-m-4">
      <h2 class="section-heading">Testimonials</h2>
      <h4 class="section-sub-header">Sub header</h4>
    </div>
  </div>
  <div class="card-wrapper">
    <% @reviews = Review.all %>
    <% @reviews.sample(3).each do |review| %>
    <div class="card">
      <div class="card-head sm-review-card-head">
        <div id="lg-rating">
          <% review.rating.times do %>
          <i class="fa fa-snowflake-o" aria-hidden="true"></i>
          <% end %>
        </div>
        <div class="review-user center-items"><% avatar_url = review.user.facebook_picture_url || (review.user.avatar? ? cl_image_path( review.user.avatar.path, :crop => "fill") : "https://kitt.lewagon.com/placeholder/users/ssaunier") %>
          <%= image_tag avatar_url, class: "sm-avatar"%>
          <p> <%= review.user.first_name %> <%= review.user.last_name %></p>
        </div>
      </div>
      <div class="card-body center-items" id="testimonial-link">
        <p>" <%= link_to review.testimonial, appartment_path(review.appartment_id)%> "</p>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
</section>

<!-- How it works -->
<section id="skiaway">
  <div class="container">
    <div class="row"></div>
    <div class="col-m-4">
      <h2 class="section-heading">How it works</h2>
      <h4 class="section-sub-header">Sub header</h4>
      <div class="card-wrapper"></div>
    </div>
  </div>
</section>


