 <!--Main picture-->
 <div class="container">
   <section class="section-wrapper">

    <div class="picture" id="picture-wrapper">
      <% if @appartment.photo.nil? %>
      <%= image_tag '/assets/winter_shack.jpeg' %>
      <% else %>
      <%= @appartment.photo %>
      <% end %>
    </div>
  </section>

  <!-- Picture collection-->
  <section class="section-wrapper">
    <div class="section-sub-header">See more</div>
    <div class="small-pictures-wrapper">
      <% 12.times do %>
      <%=  image_tag '/assets/winter_shack.jpeg', class: "small-picture" %>
      <% end %>
    </div>
  </section>

  <!--Short header-->
  <section class="section-wrapper">
    <h2 class="section-heading">
      <%= @appartment.header %></h2>
    </section>

    <!--Description-->
    <section class="section-wrapper">
      <h4 class="section-sub-header">Description</h4>
      <div class="section-borders">
        <p><%= @appartment.description %></p>
      </div>
    </section>


    <!--Details-->
    <section class="section-wrapper">
      <h4 class="section-sub-header">Details</h4>
      <div class="section-borders">
        <div class="description-icons">
        <p>Type : <%= @appartment.appartment_type %></p>
        <div class="bed-icon">
        <% 6.times do %>
        <i class="fa fa-bed" aria-hidden="true"></i>
        <% end %>
        </div>
        <i class="fa fa-wifi" aria-hidden="true"> : Yes</i>
        <i class="fa fa-bath" aria-hidden="true"> : Yes</i>
      </div>
    </section>

    <!--Address-->
    <section class="section-wrapper">
      <h4 class="section-sub-header">Address</h4>
      <div class="section-borders">
        <div id="address-section">
        <p><%= @appartment.address %></p>
        <div class="map"></div>
        </div>
      </div>
    </section>

    <!--Reviews-->
    <section class="section-wrapper">
      <h4 class="section-sub-header">Reviews</h4>
      <div class="section-borders">

      </div>
    </section>
  </div>
